<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale= 1.0">
        <link rel = "stylesheet" type = "text/css" href = "home.css">
        <script src = "home.js"></script>
    </head>
    <body>
        <div class = "header">
            Welcome to the official Page of Kasra Younessi!
        </div>
          
        <div> <p> Please use the menu to navigate the website. </p> </div>
          
        <div class = "menu">
            <a href = "/welcome"><div class = "sub" onmouseover = "welcomeToggle()" onmouseout = "mouseOut()">Welcome</div></a>
            <a href = "/cv"><div class = "sub" onmouseover = "cvToggle()" onmouseout = "mouseOut()">CV</div></a>
            <a href = "/avatar"><div class = "sub" onmouseover = "avatarToggle()" onmouseout = "mouseOut()">Avatar</div></a>
            <a href = "/personal"><div class = "sub" onmouseover = "personalToggle()" onmouseout = "mouseOut()">Personal</div></a>
            <a href = "/education"><div class = "sub" onmouseover = "educationToggle()" onmouseout = "mouseOut()">Education</div></a>
            <a href = "/project"><div class = "sub" onmouseover = "projectToggle()" onmouseout = "mouseOut()">Project</div></a>
            <a href = "/about"><div class = "sub" onmouseover = "aboutToggle()" onmouseout = "mouseOut()">About us</div></a>  
        </div>
        <div class = "message" id = "one">
            <p>Sign into the guestbook and look over the names that already have.</p>
        </div>
        <div class = "message" id = "two">
            <p> Look over my personal resume.</p>
        </div>
        <div class = "message" id = "three">
            <p>View the JSON path for my avatar image.</p>
        </div>
        <div class = "message" id = "four">
            <p> View my legal name and email as a JSON response.</p>
        </div>
        <div class = "message" id = "five">
            <p>View my educational background as a JSON response.</p>
        </div>
        <div class = "message" id = "six">
            <p>Dig deeper into the details of our team members and project. (JSON)</p>
        </div>
        <div class = "message" id = "seven">
            <p>Learn more about the UI/UX details of our Smartdoor.</p>
        </div>
          
        <div class = "team">
            <div class = "menu-header">Team Members' Resumes</div>
            <a href="http://128.199.15.251/"><div onmouseover = "" onmouseout = "">Dong</div></a>
            <a href="http://161.35.228.53/"><div onmouseover = "" onmouseout = "">Anwar</div></a>
            <a href="http://64.227.107.46/"><div onmouseover = "" onmouseout = "">Isis</div></a>
        </div>

        <div class = "classmates-holder">
            <div class = "header-c">Click on Team names to navigate to their members' sites
            </div>
          <div class = "classmates">
            <div class = "team-c" onclick = "flintTropicsClick()"> Flint Tropics</div>
            <div class = "team-c" onclick = "triTechClicks()"> Tri-tech Bros</div>
            <div class = "team-c" onclick = "ruffRidesClick()"> Ruff Riders</div>
            <div class = "team-c" onclick = "kyteClick()"> Kyte</div>
            <div class = "team-c" onclick = "lookAtYourselfClick()"> Look at Yourself</div>
            <div class = "team-c" onclick = "sentinelClick()" > Sentinel</div>
            <div class = "team-c" onclick = "recipeMasterClick()"> Recipe Master</div>
            <div class = "team-c" onclick = "smartRepzClick()"> SmartRepz</div>
            <div class = "team-c" onclick = "everybodyLovesRamsinClick()"> Everybody Loves Ramsin</div>
            <div class = "team-c" onclick = "ezTraderClick()"> Ez Trader</div>
            <div class = "team-c" onclick = "repairBoizClick()"> RepairBoiz</div>
            <div class = "team-c" onclick = "CCJClick()"> CCJ</div>
            <div class = "team-c" onclick = "industrialIllusionsClick()"> Industrial Illusions</div>
          </div>
            <div id = "one-c">
              <a href = "http://143.198.73.78/"><div class = "tc">Vladamir Altov</div></a>
              <a href = "http://kimsternator.games/"><div class = "tc">Kim Stephen</div></a>
              <a href = "http://165.232.153.255/"><div class = "tc">Manuel Sanchez</div></a>
            </div>
            <div id = "two-c">
              <a href = "http://165.232.131.14:3001/"><div class = "tc">Sepehr Ardebili</div></a>
              <a href = "http://143.110.153.51/"><div class = "tc">Bret Gustafson</div></a>
              <a href = "http://144.126.212.235/"><div class = "tc">Aaron Hanna</div></a>
            </div>
            <div id = "three-c">
              <a href = "http://144.126.210.32/"><div class = "tc">Ankeen Artesak</div></a>
              <a href = "http://143.198.128.150:6543/"><div class = "tc">Christian Bissett</div></a>
              <a href = "http://43.198.71.181/"><div class = "tc">Kimberly Johnson</div></a>
            </div>
            <div id = "four-c">
              <a href = "http://eddieh00.com/"><div class = "tc">Eddie Huang</div></a>
              <a href = "http://143.198.111.59/"><div class = "tc">Damon Koshmerl</div></a>
              <a href = "http://165.232.143.129/"><div class = "tc">Aaron Yim</div></a>
            </div>
            <div id = "five-c">
              <a href = "http://www.biandavid.com/"><div class = "tc">Jiazheng Bian</div></a>
              <a href = "http://164.90.144.97/"><div class = "tc">Zhenwei Liu</div></a>
              <a href = "http://143.198.98.101/"><div class = "tc">Siyuan Zhang</div></a>
            </div>
            <div id = "six-c">
              <a href = "http://143.198.57.119/"><div class = "tc">James Chen</div></a>
              <a href = "http://165.232.131.189/"><div class = "tc">Andrew Kahr</div></a>
              <a href = "http://35.185.251.8/"><div class = "tc">Charles Lee</div></a>
              <a href = "http://143.198.59.67/"><div class = "tc">Carl Villegas</div></a>
            </div>
            <div id = "seven-c">
              <a href = "http://144.126.215.62/"><div class = "tc">Gourab Dastidier</div></a>
              <a href = "http://www.cvwebring.com/"><div class = "tc">Andrew Hernandez</div></a>
              <a href = "http://167.99.122.242/"><div class = "tc">Mark Kragh</div></a>
              <a href = "http://143.198.232.38/"><div class = "tc">Frederick Yang</div></a>
            </div>
            <div id = "eight-c">
              <a href = "http://143.198.59.27/"><div class = "tc">Chaztine Embucado</div></a>
              <a href = "http://161.35.237.205/"><div class = "tc">Ashwin Ganesh</div></a>
              <a href = "http://143.198.136.173/"><div class = "tc">Iris Kim</div></a>
            </div>
            <div id = "nine-c">
              <a href = "http://143.198.76.115/"><div class = "tc">Tony Guan</div></a>
              <a href = "http://143.198.97.209/"><div class = "tc">Jacinth Gudetti</div></a>
              <a href = "http://161.35.228.30/"><div class = "tc">John Malgery</div></a>
              <a href = "http://161.35.239.252/"><div class = "tc">Anjuman Raha</div></a>
            </div>
            <div id = "ten-c">
              <a href = "http://143.110.229.54/"><div class = "tc">Myo Htoo</div></a>
              <a href = "http://128.199.10.10/"><div class = "tc">Tanvir Hussain</div></a>
              <a href = "http://165.232.152.55/"><div class = "tc">Hector Montenegro</div></a>
              <a href = "http://adibece140b.codes/"><div class = "tc">Muhammed Taufek</div></a>
            </div>
            <div id = "eleven-c">
              <a href = "http://178.128.96.97/"><div class = "tc">Jason Kaharudin</div></a>
              <a href = "http://143.110.234.12/"><div class = "tc">Emerson Noble</div></a>
              <a href = "http://144.126.221.136/"><div class = "tc">Hang Zhang</div></a>
            </div>
            <div id = "twelve-c">
              <a href = "http://128.199.3.204/"><div class = "tc">Jake Kim</div></a>
              <a href = "http://165.232.141.195/"><div class = "tc">Christian Manalad</div></a>
              <a href = "http://165.232.157.102/"><div class = "tc">Chonghao Tang</div></a>
            </div>
            <div id = "thirteen-c">
              <a href = "http://143.198.136.37/"><div class = "tc">Felipe Bailon</div></a>
              <a href = "http://161.35.229.252/"><div class = "tc">Hanjie Huang</div></a>
              <a href = "http://143.198.236.89/"><div class = "tc">Ariane Nazemi</div></a>
              <a href = "http://161.35.54.86/"><div class = "tc">Hung Tong</div></a>
            </div>
          </div>

        <div class = "web-wireframe">
            <p class = "underline">Website Routes</p>
            <img alt = "overview of the routes built whitin the website" src = "images/website-wireframe.jpg">
        </div>
          
    </body>
</html>